body{
    background-color: rgb(14, 14, 13);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container{
    color: rgb(211, 225, 240);
}
.digit{
    font-size: 150px;
    font-weight: bold;
}
.txt{
    font-size: 50px;
    font-weight: bold;

}
#btn-container{
    text-align: center;
    margin-top: 40px;
}
.btn{
    padding: 7px 25px;
    font-size: 20px;
    margin: 0px 10px;
    color: white;
    border: 0px;
    cursor: pointer;

}
#start{
    background-color: rgb(84, 135, 78);
}
#stop{
    background-color: rgb(215, 84, 84);
}
#reset{
    background-color: rgb(93, 96, 165);
}